.resumeContainer{
    padding: 10px;
    height: 100%;
    width: 100%;
    background-color: var(--backgroundColorSecondary);
}
.personalInformations{
    display: flex;
    flex-direction: column;
    margin: 10px 0 20px 0;
    text-align: center;
}

.emailTelephoneDiv{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.experience, .education{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.headerExp, .headerEducation{
    width: 73%;
    margin: 15px auto 20px auto;
    display: flex;
    justify-content: space-between;
}

.headerExp>h4, .headerEducation>h4{
    font-weight: bold;
}

.downloadBtn{
    height: 40px;
    width: 140px;
    border-radius: 20px;
    border: none;
    background-color: var(--textColorSecondary);
    color: white;
    font-weight: bold;
}

.downloadBtn:hover{
    background-color: var(--backgroundColor);
    color: var(--textColor);
    border: 2px solid var(--textColorSecondary);
}

.card{
    display: flex;
    flex-direction: row;
    margin: 15px auto 30px auto;
    padding: 20px 15px 20px 15px;
    border-radius: 20px;
    background: var(--backgroundColor);
}

.card>.jobInfo, .card>.schoolInfo{
    width: 30%;
}

.card>.jobInfo>h4, .card>.schoolInfo>h4{
    font-weight: bold;
}

.card>.jobInfo>div>p, .card>.schoolInfo>div>p{
    font-weight: 600;
}

.card>.jobDescription, .card>.educationDescription{
    width: 70%;
    padding-left: 10px;
}

.skillSet{
    display: flex;
}
.skillSet>div:last-child{
    border-left: 2px var(--textColorSecondary) solid;
    margin-left: 30px;
    padding-left: 10px;
}

.skillSet>div>ul>li{
    list-style: none;
    position: relative;
    padding-left: 20px;
}

.skillSet>div>ul>li::before{
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: var(--textColorSecondary);
    border-radius: 24%;
    position: absolute;
    left: 0;
    top: 4px;
}


@media only screen and (max-device-width:899px) {
    .card{
        flex-direction: column;
        height: 100%;
    }

    .card>.jobInfo, .card>.schoolInfo{
        width: 100%;
        gap: 40px;
    }

    .card>.jobInfo>div, .card>.schoolInfo>div{
        display: flex;
        gap: 15px;
    }
    .card>.jobDescription, .card>.educationDescription{
        width: 100%;
    }
}

@media only screen and (max-device-width:767.98px) {
    .skillSet{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .skillSet>div:last-child{
        margin-left: 0;
        padding-left: 0;
        border: none;
    }
}

@media only screen and (max-device-width:575.98px) {
    
    .card{
        width: 87%;
    }


}

@media only screen and (max-device-width:500px) {
    .headerExp, .headerEducation{
        display: block;
        text-align: center;
    }

    .headerExp>a>.downloadBtn{
        margin: 10px;
        height: 50px;
    }

}