footer{
    width: 100%;
}

.footerContainer{
    height: 70px;
    width: 100%;
    padding: 20px 25px 0 25px;
    display: flex;
    justify-content: space-between;
}


.contactFooter{
    display: flex;
    gap: 30px;
    
}

.contactFooter>div{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.infoP{
    font-weight: bold;
    margin-bottom: 0;
}

@media only screen and (max-device-width:625px) {
    .footerContainer{
        flex-direction: column;
    }

    .creator{
        order: 2;
        text-align: center;
    }

    .creator>p{
        margin-bottom: 6px;
    }

    .contactFooter{
        order: 1;
        justify-content: center;
    }
}

@media only screen and (max-device-width:425px) {
    .contactFooter{
        flex-direction: column;
        gap: 0;
        margin-bottom: 15px;
    }
}